<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>authentication</filter-name>
        <filter-class>.authentication</filter-class>
    </filter>
    <filter>
        <filter-name>validation</filter-name>
        <filter-class>.validation</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authentication</filter-name>
        <servlet-name>Login</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>validation</filter-name>
        <servlet-name>signup</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>settingLimits</servlet-name>
        <servlet-class>settingLimits</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageExpenses</servlet-name>
        <servlet-class>manageExpenses</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>settingLimits</servlet-name>
        <url-pattern>/settingLimits</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageExpenses</servlet-name>
        <url-pattern>/manageExpenses</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
